.col-md-6 {
  margin-top: 20px;
}

.hide {
  display: none;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
}

.btn-primary {
  margin-right: 5px;
}

.language-result {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#results img {
  height: 200px;
  width: 200px;
}

#results h4 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}