.col-md-6 {
  margin-top: 20px;
}

.col-md-5 {
  margin-top: 20px;
}

.header h1,
.header h4 {
  text-align: center;
  color: #035a96;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
}

.btn-primary {
  margin-right: 5px;
  background-color: #035a96;
}

.btn-primary:hover {
  background-color: #368dc9;
}

.language-result {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

#results img {
  height: 100%;
  width: 100%;
}

#results h4 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}